body {
  /* font-size:25px; */
  margin: 10px 50px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  display: flex;
flex-wrap: wrap;

}

/* ************************* HTML setup ************************************* */
html {
  background: linear-gradient(to bottom, #000000, #000033);
  min-height: 100%;
  overflow: hidden;
  transition: background-color 1s ease-in;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* *** Code from https://github.com/VincentGarreau/particles.js/ ************ */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');

@keyframes opac {
  from {opacity:0} to {opacity:1}
}

canvas {
  bottom: -1px;
  left: 0px;
  display: block;
  position: fixed;
  vertical-align: bottom;
  z-index: -2;
}


/* *****************************Intro button ******************************** */

/* Code from https://www.fabriziovanmarciano.com/button-styles/?cn-reloaded=1 */

#click {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px;
  background-color: #0080FF;
  width: 300px;
  border-radius: 5px;
  z-index: 1;
}

.button {
  font-family: 'Quicksand';
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  z-index: 1;
  color: #000066;
}

.button_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -150px;
  transition: 0.5s;
}
.button_f:hover span {
  padding-right: 25px;
}
.button_f:hover span:after {
  opacity: 1;
  right: 0;
}



/* **************************Disclaimer Screen ****************************** */
#homescreen {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  font-family: 'Bellota';
  font-size: 15px;

  text-align: center;
  padding-top: 200px;
  color: white;
}


/* ********** Everything concerning questions and dialogues ***************** */
.dialogue{
  font-family: 'Quicksand';
  font-size: 1rem;
  width: 900px;
  height: 250px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 35px;
  opacity: 80%;
  background-color: white;
  z-index: 1;
  align-content: space-between;
  padding: 25px;
  padding-top: 50px;
  border-radius: 4px;
}

/* *** The questions will be displayed in that div *** */
.questions {
  margin-top: 50px;
}

/* A fun blinking cursor I found online : https://codepen.io/bradtraversy/pen/jeNjwP */
.type-cursor { color:black; animation:blink .9s ease infinite;opacity:0; }
 @keyframes blink {
 	100% { opacity:1; }
 }
