body {
  background-color: #FFFF99;
  text-align: center;
  padding-top: 20px;
  padding: 150px;
}

#robot{
  transform: translateY(12%);
}

#myProgress {
  width: 100%;
  background-color: white;
  overflow: hidden;

}

.progress{
  font-family: 'Oxanium';
  font-size: 30px;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #99CCFF;
}

#container {
  background-color: #FFCCE5;
  width: 1200px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: -40px;
  margin-bottom: 50px;
  padding: 70px;
  box-shadow: 20px 20px 50px 15px #FF99CC inset;
  border-radius: 5px;
}

#calendar{
  color: white;
  font-family: 'Oxanium';
  width:600px;
  height: 50px;
  font-size: 35px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

#instructions {
  background-color: #99FF99;
  width: 200px;
  height: 600px;
  align-items: center;
  position: relative;
}

/* ==================================== */
/* code inspired by https://www.wifeo.com/code/37-css-over-animation-texte.html */
.contener {
  width: 100%;
  height: 100%;
  background-image: url(http:YOUR-URL-IMAGE.png);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.txt_init {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: 'Oxanium';
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}

.opac {
  opacity: 0;
}

.contener:hover .opac {
  width: 100%;
  position: absolute;
  z-index: 1;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  line-height: 40px;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: oblik 0.4s ease-in;
  -webkit-transform-origin: 0% 100%;
  -moz-animation: oblik 0.4s ease-in;
  -moz-transform-origin: 0% 100%;
  -ms-animation: oblik 0.4s ease-in;
  -ms-transform-origin: 0% 100%;
  animation: oblik 0.4s ease-in;
  transform-origin: 0% 100%;
}

@-webkit-keyframes oblik {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes oblik {
  0% {
    opacity: 0;
    -moz-transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotate(0deg);
  }
}

@-ms-keyframes oblik {
  0% {
    opacity: 0;
    -ms-transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    -ms-transform: rotate(0deg);
  }
}

@keyframes oblik {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/* ====================================== */
#homescreen {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  font-size: 20px;
  text-align: center;
  padding-top: 250px;
  color: white;
}

h1 {
  font-family: 'Oxanium';
}

h2 {
  transform: translateX(0%) translateY(-50%);
  font-family: 'Oxanium';
  color: #17D4FE;
  font-size: 60px;
  z-index: 3;
}

h3 {
  z-index: 3;
}

#infoImg {
  transform: translateX(-20%);
}

.choiceBox {
  margin: auto;
  padding-top: 100px;
  background-color: #99CCFF;
  width: 950px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#left {
  width: 350px;
  height: 200px;
  box-shadow: 3px 3px 2px 2px #888888;
}

#right {
  width: 350px;
  height: 200px;
  box-shadow: 3px 3px 2px 2px #888888;
}
